function Main.main 1
call  0
call SquareGame.new 1
call  0
call game.run 1
pop temp 0
call  0
call game.dispose 1
pop temp 0
push constant 0
return
function Main.more 3
call false 0
call string constant 0
call null 0
push constant 1
call a[2] 0
push local 0
call  0
call  1
call j) 0
sub
call Math.multiply 2
push local 1
call  0
call  1
call 2) 0
sub
call Math.divide 2
push local 0
push local 1
or
push constant 0
return
